<h1>Books Form</h1>

  {{#if book}}
    <div>
      <h2>{{book.title}} {{book.publishingYear}}</h2>
    </div>
  {{/if}}

<form action="/books/upsert" role="form" method="post">
  <div>
    <label for="title">Title of Book</label>
     <input type="text" id="title" name="title" {{#if book}}value="{{book.title}}"{{/if}}>
  </div>
  <div>
    <label for="publishing_year">Publishing Year</label>
    <input type="text" id="publishing_year" name="publishingYear" {{#if book}}value="{{book.publishingYear}}"{{/if}}>
  </div>

    <div class="mb-3">
    <label for="authorId">Author</label>
        <select name="authorIds" multiple id="authorIds">
          
          {{#each authors}}
            <option value="{{@index}}"
              {{#if (and @root.book (in @root.book.authorIds @index))}}selected{{/if}}>
                {{this.firstName}} {{this.lastName}}
            </option>
      {{/each}}
    </select>


  </div>


  {{#if bookIndex}}
    <input type="hidden" name="id" value="{{bookIndex}}">
  {{/if}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

