<h1>Books</h1>
<a href="/books/form">Create a new book</a>
<ul>
 {{#each books}}
  <a href="/books/show/{{@index}}"> <li>{{@index}} -{{this.title}} ({{this.publishingYear}})</a> <a href="/books/edit?id={{@index}}">Edit</a></li>
 {{/each}}
</ul>
